Adafruit-Blinka==8.47.0
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==4.1.6
adafruit-circuitpython-typing==1.11.0
Adafruit-PlatformDetect==3.74.0
Adafruit-PureIO==1.1.11
autocommand==2.2.2
backports.tarfile==1.2.0
binho-host-adapter==0.1.6
cheroot==10.0.1
CherryPy==18.10.0
ephem==4.1.5
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jaraco.text==4.0.0
lgpio==0.2.2.0
more-itertools==10.4.0
numpy==2.1.0
portend==3.2.0
pyftdi==0.55.4
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
rpi-lgpio==0.6
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
scipy==1.14.1
six==1.16.0
sysv-ipc==1.1.0
tempora==5.7.0
typing_extensions==4.12.2
zc.lockfile==3.0.post1
# cherrypy
# pyephem
# scipy
# numpy
# matplotlib
# cython
# astropy
# pyserial
# serial
# DateTime
# requests
# board
# pytz
# python-dateutil
# adafruit_dht
# rpi-lgpio
