table {
    cursor: pointer;
}

.header {
    grid-area: xheader;
    background: rgb(61, 79, 93);
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    color: wheat;
}

.controls {
    grid-area: xcontrols;
    background: rgb(61, 79, 93);
    color: #fff;
    padding: 20px 0;
    justify-self: center;
}

.stable {
    grid-area: xstable;
    background: rgb(61, 79, 93);
    color: #fff;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-self: center;
}

.stable th {
    text-align: left;
    position: sticky;
    background: white;
    top: 0;
}
  
.stable td {
    padding-right: 1em; /* Prevent Firefox overlap scrollbar */
}
  
.content {
    background: black;
    grid-area: xcontent;
    text-align: center;
    padding: 20px 0;
}

.footer {
    background: black;
    grid-area: xfooter;
    text-align: center;
    text-justify: center;
    color: white;
    padding: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 380px auto;
  grid-template-rows: auto auto 1fr 40px;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'xheader   xcontent'
    'xcontrols xcontent'
    'xstable   xcontent'
    'xstable   xfooter';
  grid-gap: 2px;
  background-color: rgb(61, 79, 93);
  position: absolute;
}

.rselect {
    background: rgb(91,109,123);
}

.bselect {
    background: rgb(203,220,235);
}
  
.hello {
    padding: 20px 0;
}

.redCell{
    color: rgb(255,80,80);
}
.whiteCell{
    color:white;
}
.goldCell {
    color: gold;
}

.control-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    align-items: center;
}

.form-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    align-items: center;
}

.citem-left {
    justify-self: end;
}

.citem-right {
    justify-self: start;
}

.citem-submit {
    grid-column: 1 / 3;
}

.input {
    justify-self: start;
    width: 110px;
    color: black;
    text-align: center;
}

.nodisplay {
    display: none;
}

.yesdisplay {
    display: inline;
}

.responsive {
    max-width: 100%;
    height: auto;
}
